<div class="headerBody">
    <div class="textContainer">
        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <img src="assets/images/Logo.png">
                </div>
                <div class="col-md-7 introText">
                    <span>
                        <b>SpectraLIT&trade; SpectraL Instant Test :<br>World’s fastest COVID-19 test (CE-IVD)</b>
                        <div class="spacer"></div>
                        Instant, accurate, affordable COVID-19 testing in seconds
                        <div class="spacer"></div>
                        <b>Unlock India safely!</b>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <a  href="#product" class="downArrow"><mat-icon >expand_more</mat-icon></a>
    <img class="bgImage" src="assets/images/abstract-bg-6.png">
</div>
<div class="contentBody" id="product">
    <img class="bgImage2" src="assets/images/abstract-bg-4.png">
    <div class="container">
        <div class="spacer"></div>
        <div class="row">
            <div class="col-md-12">
                <div class="heading">
                    <span>Our Product</span>
                </div>
                <div class="spacer"></div>
                <div class="details mt-4">
                    <div class="row">
                        <div class="col-md-3 bg-light p-4">
                            <span>SpectraLIT&trade; is SpectraL Instant Testing. SpectraLIT&trade; uses Newsight’s revolutionary compact 
                                spectrophotometer and cutting edge artificial intelligence to detect COVID-19 in seconds.</span>
                        </div>
                        <div class="col-md-9">
                            <video class="introVideo" controls loop muted autoplay oncanplay="this.play()"
                                onloadedmetadata="this.muted = true">
                                <source src="assets/videos/IntroVideo.mp4" type="video/mp4">
                            </video>
                        </div>
                    </div>
                    <div class="spacer"></div>
                    <div class="spacer"></div>
                    <div class="row">
                        <div class="col-md-6">
                            <img src="assets/images/SpectraDx.png" class="deviceImage">
                        </div>
                        <div class="col-md-6 bg-light p-4">
                                <span>
                                    Newsight’s spectral technology in SpectraLIT&trade; uses a spectral sensor with a high frame rate of 
                                    up to 40,000 fps that allows for a quick detection and analysis of liquids. The device detects 
                                    light intensity in wavelengths that range continuously between 400nm and 700nm and 
                                    provides 1024 digital values with up-to 12bit digital values. Each value represents the 
                                    intensity at each wavelength. These 1024 digital values allow the creation of a high resolution spectral signature of any tested substance.
                                </span>
                        </div>
                    </div>
                    <div class="spacer"></div>
                    <div class="spacer"></div>
                    <div class="row">
                        <div class="col-md-6 bg-light p-4">
                            <span>
                                By directing a white beam of light at the test liquid, a reflected light in different wavelengths 
                                is received, which correlates to the light absorbance to that material. The reflected light 
                                creates a spectral signature that is unique to specific chemicals/materials. Newsight’s 
                                solution supports both absorbance and reflectance spectroscopy methods. SpectraLIT&trade; 
                                currently supports wavelengths in a range of 400nm to 700nm and is expected to reach up 
                                to 1100nm soon. Supported by bi-direction cloud connectivity, SpectraLIT&trade; solution provides 
                                classification models which are constantly trained to provide better detection with high 
                                sensitivity and specificity. The accuracy of the platform has improved as our data base has expanded and we will continue to improve the platform. Update modules will be validated 
                                and certified and provided regularly. The platform has been validated and has received the 
                                EU CE-IVD mark.
                            </span>
                            <div class="spacer"></div>
                            <span>
                                The SpectraLIT&trade; cuvette is used to collect a sample. Either a conventional swab or a mouth gargle can be used. The sample is analysed by SpectraLIT&trade;. We use machine learning and artificial 
                                intelligence to match this spectral pattern to a database of known COVID-19 negative and 
                                positive samples. Using AI SpectraLIT&trade; is able to differentiate between infected and healthy 
                                individuals. SpectraLIT&trade; is cloud connected and resulted can be shared install in real time 
                                with designated authorities.
                            </span>
                        </div>
                        <div class="col-md-6">
                            <video class="deviceImage" loop muted autoplay oncanplay="this.play()"
                            onloadedmetadata="this.muted = true">
                            <source src="assets/videos/deviceVid.mov" type="video/mp4">
                        </video>
                            <img src="assets/images/SpectraDx3.png" class="deviceImage">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="contentBody" id="product">
    <img class="bgImage3" src="assets/images/abstract-bg-4.png">
    <div class="container">
        <div class="spacer"></div><div class="spacer"></div>
        <div class="row">
            <div class="col-md-12">
                <div class="heading">
                    <span>Advantages of SpectraLIT&trade;</span>
                </div>
                <div class="spacer"></div>
                <div class="details mt-4">
                    <div class="row">
                        <div class="col-md-1 col-4">
                            <img src="assets/images/speedometer.png" class="featuresImage">
                        </div>
                        <div class="col-md-5 col-8">
                            <p><b>Speed</b></p>
                            <p>SpectraLIT&trade; takes just a few seconds. This makes SpectraLIT&trade; much better for mass screening
                                and entry screening.</p>
                        </div>
                        <div class="col-md-1 col-4">
                            <img src="assets/images/sofa.png" class="featuresImage">
                        </div>
                        <div class="col-md-5 col-8">
                           <p> <b>Comfort and convenience</b></p>
                            <p>SpectraLIT&trade; works with a mouth gargle. This is much more convenient and comfortable than
                                a swab.</p>
                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="col-md-1 col-4">
                            <img src="assets/images/clock.png" class="featuresImage">
                        </div>
                        <div class="col-md-5 col-8">
                            <p><b>Real time reporting</b></p>
                            <p>SpectraLIT&trade; is internet connected and can auto-push reports to any designated authority
                                such ICMR, state health authorities or employers. Data is shared securely and in real
                                time.</p>
                        </div>
                        <div class="col-md-1 col-4">
                            <img src="assets/images/feather.png" class="featuresImage">
                        </div>
                        <div class="col-md-5 col-8">
                            <p><b>High accuracy</b></p>
                            <p>95% concordance with RTPCR.</p>
                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="col-md-1 col-4">
                            <img src="assets/images/parcel.png" class="featuresImage">
                        </div>
                        <div class="col-md-5 col-8">
                            <p><b>Portability</b></p>
                            <p>SpectraLIT&trade; fits into the palm of the hand and can be setup anywhere.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="spacer"></div><div class="spacer"></div>
        <div class="row" id="faq">
            <div class="col-md-12">
                <div class="heading">
                    <span>FAQ</span>
                </div>
                <div class="spacer"></div>
                <div class="details">
                    <mat-accordion>
                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    <span>Has this technology been validated?</span>
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <span>
                                Yes! SpectraLIT&trade; has been studied in several countries and it has been awarded the
                                European Union CE-IVD mark of authorization for use in the diagnosis of COVID-19. CE-IVD
                                authorization for COVID-19 testing platforms is recognized by India and ICMR.
                                <div class="spacer"></div>
                                Although SpectraLIT&trade; has already received CE-IVD, the scientific team is keen to continue
                                to study the device and several studies and pilots are underway around the world.
                            </span>
                        </mat-expansion-panel>
                        <br>
                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    <span>How accurate is SpectraLIT&trade;?</span>
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <span>
                                SpectraLIT&trade; has been extensivly tested in Israel. Its sensitivity and specificity is >95%. Further studies are underway all over the world including India.
                            </span>
                        </mat-expansion-panel>
                    </mat-accordion>
                </div>
            </div>
        </div>
        <div class="spacer"></div><div class="spacer"></div>
        <div class="row"  id="team">
            <div class="col-md-12">
                <div class="heading">
                    <span>Meet the Team</span>
                </div>
                <div class="spacer"></div>
                <div class="details">
                    <div class="row">
                        <div class="col-md-6 mb-4">
                            <div class="teamCard bg-light p-4">
                                <div class="teamCardImage">
                                    <img src="/assets/images/pranav.jpg">
                                </div>
                                <div class="teamCardDescription">
                                    <span>
                                        <b>Pranav Kohli</b><br><br>
                                        Pranav Kohli is a social entrepreneur, a tech evangelist, an innovator and an inventor with a diverse background spanning many fields. Pranav completed high school from Woodstock school in Mussoorie. He then graduated with BSc from Kings College in London and finally obtained his Masters in International business from Grenoble Ecole De Management. He joined his family offices in 2010. Pranav's business include sports, Hospitality, dining and healthcare. Working in these industries helped him understand the challenges these industries have faced during the pandemic. With his background in healthcare and AI, he believes SpectraLIT is rhe solution thay can help reopen safely. Currently Pranav is the CEO of SpectraDx Pvt ltd and acts as a key advisor to various other companies.
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 mb-4">
                            <div class="teamCard bg-light p-4">
                                <div class="teamCardImage">
                                    <img src="/assets/images/userimage.png">
                                </div>
                                <div class="teamCardDescription">
                                    <span>
                                        <b>Rajit Shah</b><br><br>
                                        Rajit is a radiologist focusing on artificial intelligence and infectious
                                        disease radiology. He has keen interest in cutting edge medical technologies.
                                        His driving passion is to ensure patients have a seamless and enjoyable
                                        healthcare experience. He is motivated to provide patients with healthcare that
                                        focuses on quality, integrity and a positive experience.
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 mb-4">
                            <div class="teamCard bg-light p-4">
                                <div class="teamCardImage">
                                    <img src="/assets/images/swapneil.jpg">
                                </div>
                                <div class="teamCardDescription">
                                    <span>
                                        <b>Dr. Swapneil Parikh</b><br><br>
                                        Dr. Swapneil Parikh is a board certified internist practising in Mumbai, India currently focusing on COVID-19 and pandemic response. He is author of the best selling book “The Coronavirus: What You Need To Know About The Global Pandemic.”
                                        He’s passionate about the future of AI in medicine.
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 mb-4">
                            <div class="teamCard bg-light p-4">
                                <div class="teamCardImage">
                                    <img src="/assets/images/userimage.png">
                                </div>
                                <div class="teamCardDescription">
                                    <span>
                                        <b>Akshay Vatsa</b><br><br>
                                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolor minima harum
                                        blanditiis voluptates quasi molestiae amet quidem libero ipsum iusto!
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="spacer"></div>
    </div>
</div>